body{
    background:black;
}
.div0{
    width:100%;
    height:100%;
    
}
.div1{
    height:10%;
    background:red;
    border:1px solid black;
    display:inline-block;
    box-sizing:border-box;
   
}
.a1{
    width:30%;
}
.a2{
    width:10%; 
    
}
.a3{
    width:15%;
}
.bricktext{
    text-align:center;
    padding-top:10%;
    color:brown;
    font-size:20px;
    font-weight:bold;
}

